{{!< default}}
<div class="gh-page">
    <div class="gh-container">
        <div class="swiper">
            <div class="swiper-wrapper">
                {{#foreach posts}}
                <div class="swiper-slide">
                    <img src="{{img_url feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                </div>
                {{/foreach}}
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-scrollbar"></div>
        </div>
        {{!-- If JS isn't enabled, fallback to standard pagination --}}
        <noscript>
            <div class="gh-pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div>
